/* @general - Applies to all */
/* @root */

:root {
  font-size: 16px;
}

:root body, :root html, :root header {
  margin: 0;
}

/* @title */

h1 {
  margin: 1rem;
}

h2, h3, h4, h5, h6 {
  margin: 0;
}

/* @link */
a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  filter: invert(50%); /* @components need filter: none to override */
}

/* @list */
ul {
  list-style-type: none;
  padding-inline-start: 0px;
  margin: 0;
}

li {
  margin: 0.5rem; /* min-margin */
}

/* @paragraph */

p {
  margin: 0;
}