body {
    background-color: white;
  }

main, footer {
  border: 2px solid red;
}

img, .input, .search, .search-nav, nav {
  max-width: 100%;
}

/* Header content */

.search-nav {
  display: flex;
  align-items: center;
}

.search {
  width: max-content;
  display: flex;
  padding: 3px;
  margin-right: 10px;
  border-radius: 25px;
  outline: 1px solid #696969;  
  background: #f6f6f6;
  align-items: center;
}

.search-input {
  font-size: 1em;
  font-family: 'Courier New', Courier, monospace;
  color: #8f8f8f;
  margin-left: 20px;
  border:none;
  outline: none;
  background: transparent;
}

.heart-basket {
  width: max-content;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.h-heart, .h-basket {
  min-width: 20px;
}

.nav {
  margin-left: 1%;
}

.nav-list {
  list-style: none;
  padding: 0;
  font-size: 1em;
  font-family: garamond, georgia, serif;
  font-weight: bold;
}

@media (min-width: 640px) {
  .logo-search {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

@media (min-width: 640px) {
  .nav-list {
    display: flex;
    gap: 8%;
  }
}


/* Main  content */

.product-name {
  display: flex;
  justify-content: space-between;
  font-family: 'century gothic', century;
  font-weight: bold;
  font-size: 1em;
}

.product-type {
  font-family: garamond, georgia, serif;
  font-size: 1em;
  margin-top: 2%
}



/* Failed responsiveness below /*  

/*

  @media (min-width: 640px) {
    .header {
      display: flex;
      justify-content: start;
      flex-wrap: wrap;
      }
  
Produktkort, över 640 px och över 1024 fungerar, men inte under 640 px

  .products {
  width: 100%;
  display: grid;
  gap: 10px;
  }

.productname {
  float: left;
  font-size: 1em;
  font-family: 'century gothic', century;
  font-weight: bold;
}

.price {
  float:right;
  font-size: 1em;
  font-family: 'century gothic', century;
  font-weight: bold;
}


  .products > img {
    width: 100%
  }  

  .products > div {
  border: 2px solid red;
  }


@media (min-width: 640px) {
  .products {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 4;
  }
}

@media (min-width: 1024px) {
  .products {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2;
  }
} /*
    