/* @general */

header {
  padding: clamp(1rem, 5vmax, 4rem); /* based on html font size */
}

/* @title */

h1 {
  text-align: center;
  font-size: 3rem;
}

/* @nav */

ul {
  text-align: center;
}

li {
  display: inline-block;
}

ul li {
  text-transform: uppercase;
}

/* Test for text gradient colouring */
/* h1 {
  font-family: "Delius";
 font-size: 4.2em;
 background-clip: text;
 background: linear-gradient(to bottom, rgb(255, 60, 92), rgb(253, 127, 148), rgb(253, 197, 197), white);
 -webkit-background-clip: text;
 background-clip: text;   
 -webkit-text-fill-color: transparent;
 color: transparent;
} */