/* h1 {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
} */

h1 {
 font-size: 4.2em;
 background-clip: text;
 background: linear-gradient(to bottom, rgb(255, 60, 92), rgb(253, 127, 148), rgb(253, 197, 197), white);
 -webkit-background-clip: text;
 background-clip: text;   
 -webkit-text-fill-color: transparent;
 color: transparent;
}